<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Hot Restaurant</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- jquery cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 jumbotron team-heading bg-dark mb-0">
                <h1 class="text-center text-light">Hot Restaurant</h1>
                <h3 class="text-center mb-3 text-light">{{{title}}}</h3>
                <hr class="bg-secondary">
                <div class="d-flex justify-content-center">
                    {{#if show_tables_btn}}
                    <a href="/tables" class="btn btn-primary mr-1" id="view-table">View Tables</a>
                    {{/if}}
                    {{#if show_reservation_btn}}
                    <a href="/reservations" class="btn btn-danger ml-1">Make Reservation</a>
                    {{/if}}
                    {{#if show_home_btn}}
                    <a href="/" class="btn btn-danger ml-1">Home</a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        {{{ body }}}
    </div>
    <div class="d-flex justify-content-center flex-row ml-4">
        {{#if show_clear_link}}
        <a href="#" class="link text-dark mr-1" id="clear">Clear Tables</a>
        <span>|</span>
        {{/if}}
        <a href="/api/tables" class="link text-dark mr-1">API Table Link</a>
        <span>|</span>
        <a href="/api/waitinglist" class="link text-dark ml-1">API Wait List</a>
    </div>
</body>

</html>