<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Hot Restaurant</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/c502137733.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 jumbotron team-heading bg-dark mb-0">
                <h1 class="text-center text-light">Book your seat before they are gone </h1>
            </div class="">
            <input type="submit" value="View Tables" class="btn btn-secondary btn-block">
            <input type="submit" value="Make Reservation" class="btn btn-secondary btn-block">
        </div>
    </div>
    <div class="container mt-4">
        {{!-- triple {{{ name here }}} --}}

        {{{ body }}}
    </div>
</body>

</html>