<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Hot Restaurant</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/c502137733.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 jumbotron team-heading bg-dark mb-0">
                <h1 class="text-center text-light">Hot Restaurant</h1>
                <h3 class="text-center mb-3 text-light">{{{title}}}</h3>
                <hr>
                <div class="d-flex justify-content-center">
                    {{#if show_tables_btn}}
                    <input type="submit" value="View Tables" class="btn btn-primary mr-2">
                    {{/if}}
                    {{#if show_reservation_btn}}
                    <a href="/reservations" class="btn btn-danger">Make Reservation</a>
                    {{/if}}
                    {{#if show_home_btn}}
                    <a href="/" class="btn btn-danger">Home</a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        {{{ body }}}
    </div>
    <div class="d-flex flex-start flex-row ml-4">
        <a href="/api/table" class="link text-dark mr-1">API Table Link</a>
        <span>|</span>
        <a href="/api/waitlist" class="link text-dark ml-1"> API Wait List</a>
    </div>
    <!-- jquery cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>