<form id="reservation_form" class="mb-4">
    <div class="form-group">
        <label for="name">Name</label>
        <input id="name" type="text" name="name" class="form-control">
    </div>
    <div class="form-group">
        <label for="phone">Phone Number</label>
        <input id="phone" type="text" name="phone" class="form-control">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="email" name="email" class="form-control">
    </div>
    <div class="form-group">
        <label for="id">Unique ID</label>
        <input id="id" type="text" name="id" class="form-control">
    </div>
    <input type="submit" value="Submit" class="btn btn-secondary btn-block">
</form>

<script>

    function createReservation(event) {
        const name = $("#name").val();
        const email = $("#email").val();
        const id = $("#id").val();
        const phone = $("#phone").val();

        if (name === null || name === "") {
            alert("enter a valid name");
        }

        if (email === null || email === "") {
            alert("enter a valid email");
        }

        if (phone === null || phone === "") {
            alert("enter a valid phone");
        }

        if (id === null || id === "") {
            alert("enter a valid id");
        }

        $.post(
            "/api/tables",
            {
                name: name,
                email: email,
                id: id,
                phone: phone,
            },
            () => {
                console.log("Reservation created");
            }
        );

        event.preventDefault();

        // clear the data
        $("#name").val("");
        $("#email").val("");
        $("#id").val("");
        $("#phone").val("");
    }

    $(document).ready(function () {
        $("#reservation_form").submit(createReservation);
    })

</script>