<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="card" id="table-data">
                {{!-- here data --}}
            </div>
        </div>
    </div>
</div>
</div>
<script>
    // show tables
    function displayTables() {
        $.get("/api/tables", function (tables) {
            tables.forEach((table) => {
                tableNumber = 1;
                $("#table-data").append(`
				    <div class="card-header">
                        <h3><strong>Table#</strong><span id="id">${tableNumber}</span></h3>
                    </div>
                    <div id="table-body"" class=" card-body">
					<h3><strong>ID:</strong><span id="id">${table.id}</span></h3>
					<h3><strong>Name:</strong><span id="name">${table.name}</span></h3>
					<h3><strong>Email:</strong><span id="email">${table.email}</span></h3>
					<h3><strong>Phone:</strong><span id="phone">${table.phone}</span></h3>
					</div>`);
                tableNumber++;
            });
            console.log("load was performed")
        });
    }

    $(document).ready(function () {
        displayTables()
    });
</script>